.row {
    margin: 0;
}

img {
    max-width: 100%;
}


.block-title {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
}


.file-types {
    display: block;
    float: left;
    width: 100%;
}

.ebdQkY {
    display: block !important;
    max-width: 100%;
}

.iciELI {
    position: relative;
    max-width: 100% !important;
    min-width: 100% !important;
    border-width: 1px !important;
}

.nav-bar {
    padding: 10px;
    background: #000;

    .user-picture {
        overflow: hidden;
        border-radius: 5px;
        height: 50px;
        position: relative;
        display: block;
        float: left;

        img {
            max-width: 100%;
        }
    }

    .user-info {
        color: #fff;
        display: block;
        position: relative;
        margin-left: 10px;
        float: left;

        span {
            display: block;

            &.user-name {
                font-size: 15px;
            }

            &.user-role {
                font-size: 10px;
            }
        }
    }

    .dropdown {
        position: absolute;
        right: 10%;
    }

    .dropdown #dropdown-basic {
        background: transparent;
        border: 0;
    }
}

.bread-crumbs {
    min-height: 50px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;

    .title {
        font-size: 13px;
        color: #aaa;
    }

    svg {
        stroke: #aaa;
        width: 15px;
    }

    .steps {
        li {
            list-style: none;
            display: inline-block;
            margin: 0px 30px;
            font-size: 13px;
            font-weight: bold;
            color: #aaa;

            span {
                margin: 0px 4px;
                width: 24px;
                height: 24px;
                display: inline-block;
                text-align: center;
                position: relative;
            }

            &.active {
                span {
                    background: turquoise;
                    border-radius: 100px;
                    color: #fff;

                    &::before {
                        content: '';
                        width: 30px;
                        height: 30px;
                        display: block;
                        position: absolute;
                        border: 1px solid turquoise;
                        left: -3px;
                        top: -3px;
                        border-radius: 30px;
                    }
                }


            }

            a {
                text-decoration: none;
                color: #aaa;
            }
        }

        margin: 0;
    }

}

.left-nav {

    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;

    .accordion-item {
        border: 0;

        .accordion-button {
            background-color: transparent !important;
            border: 0;
            color: #191919;
            font-size: 13px;
            box-shadow: 0px 3px 6px #00000029;

            span {
                margin: 0px 5px;
            }
        }
    }

    .block-description,
    .accordion-body {
        font-size: 12px;
        color: #aaa;
    }

    .image-container {
        .image {
            min-height: 150px;
            margin-bottom: 10px;
            background-size: cover !important;

            &:after {
                width: 100%;
                height: 150px;
                display: block;
                content: '';
                position: absolute;
                background: turquoise;
                opacity: 0.4;
            }
        }

        position: relative;

        .btn {
            position: absolute;
            background: #000;
            color: #fff;
            z-index: 99;
            top: 55px;
            font-size: 13px;

            &:hover {
                background: turquoise;
            }

            &.edit-focalpoint {
                left: 60px;
            }

            &.uploadimage {
                right: 60px;
            }
        }

        .btn-delete {
            position: absolute;
            color: #fff;
            z-index: 99;
            right: 5px;
            cursor: pointer;
        }

    }


    .drop_zone {
        padding: 10%;
        border: 1px dashed turquoise;
        font-size: 12px;
        color: #aaa;
        border-radius: 10px;
        cursor: pointer;
    }
}

.desktop-ad,
.mobile-ad {

    .card {
        box-shadow: 0px 3px 6px #00000029;
        border: 0;

        .card-body {
            align-items: center;
            justify-content: center;
            padding: 0px 0px 1rem;
        }
    }

    .image-container {
        min-height: 320px;
        max-height: 320px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
}

.custom-card {
    box-shadow: 0px 3px 6px #00000029;
    border: 0;
}

.zoom-slider {
    h1 {
        font-size: 12px !important;
    }
}

.hidden {
    display: none !important;
}

.mobile-wrapper .btn.edit-focalpoint {
    left: 35% !important;
}

.buttons-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    border-top: 1px solid #aaa;
    padding-top: 10px;

    .btn {
        background: transparent;
        color: #000;
        border: 1px solid;
        font-size: 12px;

        &:hover {
            background: turquoise;
            border-color: turquoise;
        }
    }
}